@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
   margin: 0;
   padding: 0;
}

body {
    background-color:#FA6781;
    color: #FFF5F8;
    font-family: "Playfair Display", serif;
}
.cabecalho{ 
    background-color: #FF4081;
    display: flex;
    justify-content:space-between;
    padding: 15px 25px;
    align-items: center;
}
